<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
  {% set theme_config = attribute(config.themes, config.system.pages.theme) %}
    {% block head %}
      {% include 'partials/head.html.twig' %}
    {% endblock head %}
</head>

<body>
<!-- Header -->
    {% block header %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{ site.title }}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">{{ site.title }}</span>
            <nav class="mdl-navigation">
                {% include 'partials/drawer.html.twig' %}
            </nav>
        </div>
        {% endblock %}

        <div class="mdl-ribbon"></div>
        <main class="mdl-main mdl-layout__content">
<a name="top"></a>

<!-- Body -->

            {% block body %}
            <div class="mdl-container mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="mdl-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    {% if config.plugins.breadcrumbs.enabled %}
                    <div class="demo-crumbs mdl-color-text--grey-500">
                        {% set crumbs = breadcrumbs.get() %} {% if crumbs | length > 1 or config.plugins.breadcrumbs.show_all %}
                        <div class="container">
                            {% for crumb in crumbs %} &nbsp; &gt; &nbsp;<a href="{{ crumb.url }}" class="mdl-color-text--grey-500">{{ crumb.menu }}</a> {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                      
                      <!-- centers content with offset » change width with different columns to your preference -->
                      
                      <div class="mdl-cell--10-col mdl-cell--1-offset">
                        <h2 class="entry-title single">{{ page.header.title }}</h2>
                        {% block content %}{% endblock %}
                      </div>
            </div>
            {% endblock %}
</main>
<!-- Footer -->

            {% block footer %}
                {% include 'partials/footer.html.twig' %}
            {% endblock %}

        
    </div>

  <a href="#top" id="corner-box" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">expand_less</i></a>
    <script src="user/themes/material-lite/js/material.min.js"></script>

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock %}
</body>

</html>
